header {
  width: 100%;
  position: fixed;
  box-sizing: border-box;
}

.status-bar__color,
.alt-header__color {
  background-color: var(--green);
  color: white;
}

.status-bar__color i,
.alt-header__color i {
  color: white;
}

.fa-bars {
  margin-left: 13px;
}

.chat-screen {
  background: linear-gradient(#03b68d, #00d4ff);
}
